a {
    font-size: large;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    font-weight: 400;

}
body
{
    background-image: url(assets/img/1381084.jpg);
background-position:center;
color:black;
margin-top: 40px;
}

a:hover {
    color: rgb(2, 75, 121);
    text-shadow: 2px 2px 5px rgb(119, 140, 163);
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
    font-size: xx-large;
    /* text-decoration: underline; */
}
h2
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:normal;
    /* text-decoration:underline; */
}

p {

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
}
li
{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
}
iframe
{
    background-color: #f5f5f5;
}
#button
{
    background-color:azure;
    padding: 10px;
    margin-top: 10pc;
    box-shadow: 2px 2px 5px rgb(60, 62, 64);
    font-size: x-large;
}
#button0
{
    background-color:azure;
    padding: 10px;
    font-size: x-large;
    margin-left: -36px;
    box-shadow: 2px 2px 5px rgb(40, 42, 43);

}
#button1
{
    background-color:azure;
    padding: 10px;
    font-size: x-large;
    margin-left: 41pc;
    box-shadow: 2px 2px 5px rgb(50, 51, 52);
}